extends layout

block content

  if currentUser
    h1 Welcome #{currentUser.firstName}
  else 
    h1 Welcome Stranger
  h2 You must register and request membership to see more info about the posts

  .posts 
    if posts 
      each post in posts 
        .post 
          h3 #{post.title}
          p #{post.body}
          if post.creator && currentUser
            p Posted by: #{post.creator.firstName} - #{post.formattedDate}
          else 
            p Posted by: Hidden
